.c-welcome {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/JS-ADVANCED/Practice/Warming/html-css/images/kids.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

.c-welcome::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #41BEAD;
    opacity: .7;
}

