    <div class="container details">
        <div class="details-content">
            <h2>{{this.title}}</h2>
            <strong>{{this.category}}</strong>
            <p>{{this.content}}</p>
            <div class="buttons">
                <a href="/delete/{{this.key}}" class="btn delete nav-link" onclick="deleteOnClick()">Delete</a>
                <a href="/edit:id" class="btn edit nav-link">Edit</a>
                <a href="" class="btn edit nav-link" onclick="backOnClick()">Back</a>
            </div>
        </div>
    </div>