:root {
    --bg-color: #ffff;
    --blue-700: #0e1f57;
    --typeWriterSpeed: 2s;
    --typeWriterSteps: 21;
}

textarea {
    display: block;
}

input {
    outline: none;
}

input:hover {
    cursor: pointer;
}