html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.sectionArticle1 {
    margin-top: 70px;
    margin-left: 60px;
}
.sectionArticle2 {
    margin-left: 60px;
}