.root-component-template ul {
    list-style: none;
    background-color: gray;
    padding: 40px;
}

.root-component-template li {

    margin-bottom: 20px;
    color: black;
    text-decoration: dotted;

}
