    <header>
        <nav>
            <ul>
                {{#if isLogged}}
                <li>
                    <a href="/create-offer" class="nav-link">Create new offer</a>
                </li>
                {{/if}}
                <li class="site-logo">Shoe</li>
                <li>
                    <a href="">
                        <img src="../public/sneakers.png" alt="">
                    </a>
                </li> 
                <li class="site-logo">Shelf</li>
                {{#if isLogged}}
                <li>Welcome, xxx@xx.xxx | 
                    <a  href="/logout" class="nav-link">Logout</a>
                </li>
                {{/if}}
            </ul>
        </nav>
    </header>